@import "../common"

.carousel
  background-color: $darkBgColor
  overflow: hidden
  max-width: 1000px
  position: relative
  margin: auto

  *
    color: $lightTextColor

  ul > li
    list-style-type: none
