.ab-carousel {
  width: 100%;

  &--wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
  }

  &--inner {
    display: flex;
    overflow: hidden;
    width: 100%;
    align-items: flex-start;
  }

  &--card {
    width: 100%;
  }
}
